.mainCalculator {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 9, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid rgb(41, 76, 99);
  border-radius: 10px;
  background-color: rgb(0, 17, 24);
  position: relative;
}

.integers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-width: 300px;
  max-width: 90vw;
  width: 500px;
  row-gap: 5px;
  column-gap: 5px;
  padding-top: 5px;
  margin-top: 40px;
  margin-bottom: 50px;
}

button {
  border-radius: 0;
  border: 1px solid rgba(105, 105, 105, 0.521);
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  border-radius: 2px;
}

button:active {
  background-color: rgb(39, 49, 1);
  color: white;
}

.buttonsDown {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  row-gap: 5px;
  column-gap: 5px;
  margin-top: 5px;
}

.op {
  background-color: rgb(226, 137, 2);
}

#bigButton {
  grid-column-start: span 2;
}

.screenClac {
  width: calc(500px - 4px);
  min-width: 296px;
  max-width: 90vw;
  border: 1px solid rgba(105, 105, 105, 0.521);
  margin-top: 50px;
  margin-bottom: 0;
  height: 50px;
  border-radius: 0;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgba(49, 49, 49, 0.932);
  text-align: right;
  padding-right: 3px;
}

.logo {
  position: absolute;
  right: 20px;
  top: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
